@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background: url(../imagenes/fondo7.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.header{
	background:#ffffff;
	color:black;
	
}
 .header a{
 color: black;
 text-decoration:none;
 
 }

.logo-nav-conteiner{
	display:flex;
	justify-content: space-between;
	aligin-items:center;
}

.logo{
	letter-spacing:3.3px;
	font-size:1.8em;
}


.logo-container{
	display:flex;
	justify-content: space-between
}

.navegacion ul{
	margin:0;
	padding:0;
	list-style:none;
}
 .navegacion ul li{
  display: inline-block
 }
 
    .navegacion ul li a{
      display: block;
      padding:0.5rem 1rem;
      transition: all 0.3s linear;
      font-size:1.3rem;
      
    }
      
      .navegacion ul li a:hover{
      background: #ccc;
      }

input[type="submit"] {
	border: none;
	outline: none;
	height: 30px;
	background: #fec0f7;
	color: #000000;
	font-size: 20px;
	border-radius: 20px;
}

 input[type="submit"]:hover {
	
	cursor: pointer;
	background: #669bf4;
	color: #000;
}
.header4{
	border-radius:0.5%;
	background:rgba(239, 244, 244 , 0.6);
	width: 60%;
	
}
th {
	width: 200px;
	padding: 2px;
	border-collapse: collapse;
	background:rgba(90, 194, 193, 1);
	color: #000000;
}

td {
	width: 200px;
	padding: 2px;
	border-collapse: collapse;
	background:rgba(90, 194, 193, 0.5);
	color: #000040;
}




